.videos{
   display: flex;
   flex-direction: column;
}
.startAnalysingButton
{
width: 100%;
text-align: center;
padding: 1em;
background-color:#0066cc;
border: none;
border-radius: 1em;
color: white;
cursor: pointer;
}

.startAnalysingButton:disabled{
  background-color: gray;
}

 .videos {
  display: 'flex';
  justify-content: 'space-between';
   flex-direction: 'row';
 }

 .counter {
   font-size: 3em;
   color: black;
   font-weight: bold;
 }

 .square-box {
   position: absolute;
   width: 50%;
   height: 70vh;
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 

 button {
   background: transparent;
   border: none !important;
   font-size: 3em;
   border-radius: 50%;
 }

 /* button:hover {
   box-shadow: 0 0 20px rgba(0,0,0,0.5);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
} */

