*{
    margin: 0;
    box-sizing: border-box;
 }
 .Register{
     
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
 }
 
 .form{
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156,156,156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
 }
 
 .logo{
    width: 80%;
 }
 
 input {
    font-size: 3em;
    width: 80%;
    padding: 1em;
    background-color: #d6cfcfab;
    border: none;
 }
 .RegisterButton{

    width: 80%;
    text-align: center;
    padding: 1em;
    background-color:#0066cc;
    border: none;
    border-radius: 1em;
    color: white;
    cursor: pointer;

 }
 
 
 